<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button [routerLink]="''">
      <h1>RMS CRM</h1>
    </a>
    <span class="menu-spacer"></span>
    <button mat-button [matMenuTriggerFor]="invoice">
      <mat-icon>assignment</mat-icon>
      <span>Invoice</span>
    </button>
    <mat-menu #invoice="matMenu">
      <button mat-menu-item>
        <mat-icon>view_list</mat-icon>
        <span><a mat-button [routerLink]="'/invoices'"> Invoice List </a></span>
      </button>
      <button mat-menu-item>
        <mat-icon>note_add</mat-icon>
        <span><a mat-button [routerLink]="'/new-invoice'"> New Invoice </a></span>
      </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="inventory">
      <mat-icon>chrome_reader_mode</mat-icon>
      <span>Inventory</span>
    </button>
    <mat-menu #inventory="matMenu">
        <button mat-menu-item>
          <mat-icon>list_alt</mat-icon>
          <span><a mat-button [routerLink]="'/invoices'"> Option1 </a></span>
        </button>
        <button mat-menu-item>
          <mat-icon>person_add</mat-icon>
          <span><a mat-button [routerLink]="'/new-invoice'"> Option2 </a></span>
        </button>
        <button mat-menu-item>
          <mat-icon>verified_user</mat-icon>
          <span><a mat-button [routerLink]="'/new-invoice'"> Option3 </a></span>
        </button>
      </mat-menu>

    <button mat-button [matMenuTriggerFor]="admin">
      <mat-icon>account_circle</mat-icon>
      <span>Admin</span>
    </button>
    <mat-menu #admin="matMenu">
      <button mat-menu-item>
        <mat-icon>list_alt</mat-icon>
        <span><a mat-button [routerLink]="'/invoices'"> User List </a></span>
      </button>
      <button mat-menu-item>
        <mat-icon>person_add</mat-icon>
        <span><a mat-button [routerLink]="'/new-invoice'"> Create User </a></span>
      </button>
      <button mat-menu-item>
        <mat-icon>verified_user</mat-icon>
        <span><a mat-button [routerLink]="'/new-invoice'"> User Role </a></span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>